<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>开发工具</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>
    <div id="copy"></div>
    <div id="app">
        <input id="hidCopy" type="hidden" v-model="copy"/>
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#trace" data-toggle="tab">
                    SQL跟踪
                </a>
            </li>
            <li>
                <a href="#slow" data-toggle="tab">
                    性能异常SQL
                </a>
            </li>
        </ul>

        <hr />
        <div id="myTabContent" class="tab-content">
            <div id="trace" class="tab-pane fade in active">
                <div style="margin-left:30px">
                    <button type="button" class="btn btn-primary" v-show="startShow" v-on:click="start">开始</button>
                    <button type="button" class="btn btn-primary" v-show="pauseShow" v-on:click="pause">暂停</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary" v-show="clearShow" v-on:click="clear">清空</button>
                </div>

                <hr />
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>时间</th>
                                <th>执行语句</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(log,index) in logs">
                                <td>
                                    {{log.time}}
                                </td>
                                <td>
                                   <button class="btn" v-on:click="copy(log.sql)">复制</button>
                                    {{log.sql}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="slow" class="tab-pane fade">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>执行时长(时:分:秒.毫秒)</th>
                                <th>锁定时长(时:分:秒.毫秒)</th>
                                <th>开始时间</th>
                                <th>数据库</th>
                                <th>操作者</th>
                                <th>执行语句</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="query in slowQuerys">
                                <td>
                                    {{query.queryTime}}
                                </td>
                                <td>
                                    {{query.lockTime }}
                                </td>
                                <td>
                                    {{query.startTime }}
                                </td>
                                <td>
                                    {{query.db }}
                                </td>
                                <td>
                                    {{query.userHost}}
                                </td>
                                <td>
                                    {{query.sql}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>

        var vueApp = new Vue({
            el: '#app',
            data: {
                startShow: true,
                pauseShow: false,
                clearShow: true,
                logs: [],
                slowQuerys: [],
                copyText:""
            },
            methods: {
                start: function () {
                    this.timer = setInterval(this.trace, 3000);
                    this.pauseShow = true;
                    this.startShow = false;
                },
                pause: function () {
                    clearInterval(this.timer);
                    this.pauseShow = false;
                    this.startShow = true;
                },
                clear: function () {

                    this.logs = null;

                    this.$http.post('/home/clear', {}, { emulateJSON: true }).then(function (res) {
                        console.log("日志清除成功！");
                    }, function (res) {
                    });

                    this.logs = null;
                },
                trace: function () {
                    //发送 post 请求
                    this.$http.post('/home/trace', {}, { emulateJSON: true }).then(function (res) {
                        this.logs = res.body;
                    }, function (res) {
                        console.log(logs);
                    });
                },
                copy: function (text) {
                    var textArea = document.createElement("textarea");

                    textArea.style.position = 'fixed';
                    textArea.style.top = 0;
                    textArea.style.left = 0;
                    
                    textArea.style.width = '2em';
                    textArea.style.height = '2em';

                    textArea.style.padding = 0;

                    textArea.style.border = 'none';
                    textArea.style.outline = 'none';
                    textArea.style.boxShadow = 'none';

                    textArea.style.background = 'transparent';

                    textArea.value = text;

                    document.body.appendChild(textArea);
                    textArea.focus();
                    textArea.select();

                    try {
                        var successful = document.execCommand('copy');
                        var msg = successful ? 'successful' : 'unsuccessful';

                        if (msg == "successful") { 
                            //alert("复制成功！");
                        }

                    } catch (err) {
                        console.log('Oops, unable to copy');
                    }

                    document.body.removeChild(textArea);
                }
            },
            created: function () {

            },
            mounted: function () {
                this.$http.post('/home/slow', {}, { emulateJSON: true }).then(function (res) {
                    this.slowQuerys = res.body;
                }, function (res) {
                    console.log(this.slowQuerys);
                });
            },
            destroyed: function () {
                clearInterval(this.time)
            }
        });
    </script>
</body>
</html>