<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/zclip/jquery.zclip.js"></script>
    <script type="text/javascript">
        var timer;
        $(function () {
            //$("input[name='copy']").zclip({
            //    //记得把这个文件引入
            //    path: 'ZeroClipboard.swf',
            //    copy: function () {//复制内容
            //        return $(this).parent('td').val();
            //    },
            //    afterCopy: function () {//复制成功
            //        alert("复制成功")
            //    }
            //});

            timer = setTimeout(function () { window.location.reload() }, 5000);
        });

        function startStop() {
            var text = $("#btnStartStop").val();
            if (text == "停止") {
                clearTimeout(timer);
                $("#btnStartStop").val("开始");
            }
            else {
                window.location.reload();
            }
        }

    </script>
</head>
<body>
    <div class="container" id="divContainer">
        <hr />
        <input id="btnStartStop" class="btn btn-danger" type="button" value="停止" onclick="startStop();" />
        <hr />
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>时间</th>
                        <th>执行语句</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in ViewBag.logs)
                    {
                        <tr>
                            <td>
                                @log.Time
                            </td>
                            <td>
                                @*<input class="btn btn-danger" type="button" value="复制" name="copy" />*@
                                @log.Sql
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>