<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script>

        //var timer;
        new Vue({
            el: '#app',
            data: {
                sites: [
                    { name: 'Runoob' },
                    { name: 'Google' },
                    { name: 'Taobao' }
                ]
            }
        })

        $(function () {
            //$("input[name='copy']").zclip({
            //    //记得把这个文件引入
            //    path: 'ZeroClipboard.swf',
            //    copy: function () {//复制内容
            //        return $(this).parent('td').val();
            //    },
            //    afterCopy: function () {//复制成功
            //        alert("复制成功")
            //    }
            //});

            timer = setInterval(trace, 5000);
        });

        function trace() {
            $.post("home/start", null, function (result) {
                datas = result;
            });
        }

        function pause() {
            clearInterval(timer);
        }

            //function startStop() {
            //    var text = $("#btnStartStop").val();
            //    if (text == "停止") {
            //        clearTimeout(timer);
            //        $("#btnStartStop").val("开始");
            //    }
            //    else {
            //        window.location.reload();
            //    }
            //}

    </script>
</head>
<body>
    <div id="app">
        <ol>
            <li v-for="site in sites">
                {{ site.name }}
            </li>
        </ol>
    </div>
</body>
</html>